@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
    padding: 1%;
  }
  .main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  h1{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px; 
    }
  h2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 23px;
  }
  h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  p{
    font-size: 16px;
    font-weight: normal;
  }
  a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }
  h2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 23px;
  }